<div class="comments_section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p id="notice">
          <%= notice %>
        </p>
      </div>
    </div>
    <% replies.each do |reply| %>
      <% 
        id = reply.user_id 
        data = JSON.parse(
          open("http://localhost:1212/v1/accounts/#{id}" 
          ).read, symbolize_names: true
        )[:data]

        first_name = data[:first_name]
        last_name = data[:last_name]
      %>
      <div class="row comments_tab">
        <div class="col-md-12 border-top">
          <comment_body>
            <%= reply.body %>
          </comment_body>
          <commented_by>
            <%= first_name %> <%= last_name %>
            replied
          </commented_by>
          <br/>
        </div>
      </div>
    <% end %>
  </div>
</div>
